<h1>Sorry, an error occured while processing your request</h1>
<p><%= $application %> might be down</p>
<p>Please contact Platform ops to check the service <a href="mailto:<%= ENV["PLATFORM_MAIL_ID"] %>">Platform Support</a></p>
